// variables.scss
:root {
  --color-bg1: #dff9fb;
  --color-bg2: #ffffff;
  --color1: 104, 109, 224;
  --color2: 126, 214, 223;
  --color3: 223, 249, 251;
  --color4: 255, 121, 121;
  --color5: 149, 175, 192;
  --color-interactive: 140, 100, 255;
  --circle-size: 200%;
  --blending: hard-light;
}
